<!--<h1>Welcome to {{ hotelName }}</h1>-->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<div [hidden]="hideRooms">
	Number of Rooms:
	<div
	  [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
	  [innerText]="numberOfRooms"
	></div>
  </div>
  
  {{ rooms.availableRooms }}
  <!--{{roomList | json }}-->
  
  <div *ngIf="rooms.availableRooms">
	<div *ngIf="selectedRoom">{{ selectedRoom | json }}</div>
  
	<div> <button (click)="addRoom()">Add Room </button></div>
  
	<app-rooms-list [rooms]="roomList"[title]="title" 
	(selectedRoom)="($event)"></app-rooms-list>
  
	<button (click)="toggle()">Toggle</button>
  </div>
  